/*
@media (min-width: 640px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 1024px) { ... }
@media (min-width: 1280px) { ... }
*/

a {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

table {
  border-spacing: 4px;
}

body {
  display: flex;
  justify-content: center;
}

#app {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 12px;
}

.navbar-grp-items {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}

.input-form {
  overflow-y: auto;
  max-width: 83.33vw;
  padding-bottom: 8px;
}

#item-display-table th, #item-edit-table th {
  text-align: left;
}

#item-edit-btn-grp {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item-edit-btn-row {
  display: flex;
  gap: 4px;
}