/*
@media (min-width: 640px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 1024px) { ... }
@media (min-width: 1280px) { ... }
*/

table {
  border-spacing: 4px;
}

body {
  display: flex;
  justify-content: center;
}

#app {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 12px;
}

.navbar-navgroup-items {
  display: flex;
  flex-direction: column;
}

#navbar a {
  text-decoration: none;
}

.ItemAddTable-acquirePriceCell-ccy {
  margin-right: 4px;
}

.error {
  color: red;
}

.input-form {
  overflow-y: auto;
  max-width: 83.33vw;
  padding-bottom: 8px;
}